# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Base de datos local y datos de ejecución
data/*.db
*.db
*.sqlite3

# Entornos virtuales y caches
venv/
.venv/
__pycache__/
.pytest_cache/